html, body {
	background-color: #252525;
	color: #FFEFEA;
	font-family: "Raleway", Arial, sans-serif;
}

body {
	opacity: 0;
	transition: opacity 1s ease 0s;
}

section {
	margin-bottom: 0;

}

a {
	transition: color 0.5s ease 0s;
	color: #A0B966;
}
	a:hover,a:active,a:visited,a:focus {
		text-decoration: underline;
	}

p {
	font-size: 20px;
	line-height: 40px;
}
	p:not(:last-of-type) {
		margin-bottom: 45px !important;
	}

.container {
	max-width: 960px;
	margin: 0 auto;
}

article.post {
}
	section.content {
		position: relative;
		padding: 50px;
		background-color: #252525;
	}
	section.content.has-light {
		background-color: #FFEFEA;
		color: #252525;
	}
	section.content.has-dark,
	section.content-title.has-dark {
		background-color: #252525;
		color: #ffefea;
	}
	section.content.has-image {
		background-image: url('../images/header-3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}
	section.content.has-image.image4 {
		background-image: url('../images/header-4.jpg');
	}
	section.content.has-image .container {
		box-sizing: content-box;
		padding: 25px 35px;
		background-color: rgba(0, 0, 0, 0.7);
	}

	section.content-title {
		background-color: #ffefea;
		color: #252525;
	}
		section.content-title .container {
			padding: 25px 0px;
		}
		section.content-title h2 {
			margin: 0;
		}

.code {
	background-color: #3f3f3f;
	padding: 50px 0;
}
	.code > pre {
	}
		.code > pre > code.hljs {
			padding: 0;
			font-size: 18px;
			overflow: visible;
			//opacity: 0;
		}

.header {
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	transition: all 0.5s ease 0s;
}
	.header:hover,
	.header.scroll {
		background-color: rgba(25, 25, 25, 0.5);
	}
	.header.up {
		top: -60px;
	}
	.header .container {
		height: 60px;
		width: 100%;
	}

.logo {
	display: block;
	text-align: left;
	position: relative;
	float: left;
}
	.logo > a {
		display: block;
		padding: 20px;
		color: #FFEFEA;
		text-decoration: none;
	}
		.logo > a:hover {
			color: #A0B966;
		}

ul.nav-primary {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
	height: 60px;
}
	ul.nav-primary > li {
		display: inline-block;
		height: 100%;
	}
		ul.nav-primary > li > a {
			display: block;
			padding: 20px;
			text-align: center;
			color: #FFEFEA;
			text-decoration: none;
			transition-property: background-color;
		}
			ul.nav-primary > li > a:hover {
				color: #A0B966;
				background-color: rgba(0, 0, 0, 0.2);
			}
			ul.nav-primary > li > a:after {

			}

.title-wrapper {
	position: relative;
	display: block;
	width: 100%;
	height: 500px;
	background-image: url('../images/header-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
	.title-wrapper .title {
		width: 100%;
		position: absolute;
		bottom: 25%;
	}
		.title-wrapper .title h1 {
			font-size: 36px;
			color: #fff;
			text-align: center;
		}

section.footer {
	position: relative;
	padding: 50px 0;
	background-color: #252525;
}
	section.footer .copyright {
		float: left;
	}
	section.footer .topside {
		float: right;
	}
		section.footer .topside > a {
			padding: 15px 20px;
			color: #ffefea;
			line-height: 15px;
			border-radius: 5px;
			background-color: rgba(0, 0, 0, 0.4);
			text-decoration: none;
			border: 1px solid transparent;
		}
			section.footer .topside > a:hover {
				background-color: rgba(0, 0, 0, 0.9);
				border-color: #252525;
			}

ul.index {
	margin: 0;
	padding: 0;
	list-style: none;
}
	ul.index > li {
		margin-bottom: 25px;
	}
		ul.index > li > a {
			display: block;
			color: #ffefea;
			text-decoration: none;
			font-size: 26px;
		}
			ul.index > li > a:hover {
				color: #A0B966;
			}